

.slider {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;

    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; 

  
      

}

.slide {
    position: relative;
    margin-right: 12px;
    img {
        height: 100%;
        width: auto;
    }

    &:first-child {
        margin-left: 16px;

        @media screen and (min-width: 768px) {
            margin-left: calc(50vw - 314px);
        }
    }

    &:last-child {
        margin-right: 16px;
        @media screen and (min-width: 768px) {
            margin-right: 32px;
        }
    }
}